data/
mlruns/
prefect/
evaluation/mlruns/
evaluation/prefect/
evaluation/*.csv
deploy/app/scaler/*
deploy/app/config/__pycache__/
deploy/__pycache__/
__pycache__/
mlartifacts/
src/__pycache__/
loader/__pycache__/
.venv/
.vscode/
.pytest_cache/
.gitignore