mysql-connector-python
numpy
pandas
pyyaml
scikit-learn
sentence-transformers
einops
tqdm
transformers
joblib
addict
mlflow
prefect
langchain-community
langchain
langchain-core
pytest
emoji
openpyxl
faiss-cpu