mysql-connector-python
numpy
pandas
ftfy
jupyter 
pyyaml 
scikit-learn
sentence-transformers
einops
openpyxl
tqdm
transformers
joblib
fastapi[standard]
uvicorn
addict
yellowbrick
hnswlib
custom_st
mlflow
prefect
langchain-community
langchain
langchain-core
langchain-openai