--extra-index-url https://download.pytorch.org/whl/cpu

addict
einops
emoji
faiss-cpu
imbalanced-learn
joblib
langchain-community
langchain-huggingface
mlflow
mysql-connector-python
numpy
openpyxl
pandas
plotly
prefect
pymysql
pytest
pyyaml
sentence-transformers
sqlalchemy
torch==2.8.0+cpu
tqdm
lightgbm
shap
fastapi