--extra-index-url https://download.pytorch.org/whl/cpu

torch==2.9.1+cpu
einops
SQLAlchemy
pymysql
numpy
pandas
joblib
sentence-transformers
langchain-community
langchain-huggingface
emoji
pyyaml 
openpyxl